body {
    max-width: 900px;
    margin: auto;
}

code {
    background: #eeeeee;
    color: #000000;
    padding: 0.25em;
}

footer {
    margin-bottom: 1.0em;
    text-align: center;
}

ul#entries {
    list-style-type: none;
    padding: 0;
}

ul#entries h3 {
    display: inline;
}

#pagination {
    text-align: center;
}
