html {
    font-family: sans-serif;
}

body {
    max-width: 65.0rem;
}

figure {
    text-align: center;
}

figure > img {
    box-shadow: grey 1px 1px 8px;
}

figure > figcaption {
    font-style: italic;
}

/* COMPUTERS: Mobile (default) */

.exhibit {
    background-color: white;
    border: 2.0rem solid white;
    border-radius: 0.25rem;
    box-shadow: 0.3rem 0.3rem 1.2rem rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    margin-bottom: 3.0rem;
}

.exhibit > img {
    border-radius: 0.25rem;
    display: block;
}

.exhibit a {
    border: none;
    color: #333;
    text-decoration: underline;

    transition-property: color;
    transition-duration: 0.5s;
}

.exhibit a:hover {
    color: blueviolet;
}

.exhibit .caption {
    color: #333;
    margin: 0;
    padding: 2.0rem 0 0 0;
}

/* COMPUTERS: Desktop */

@media (min-width: 65.0rem) {
    .exhibit {
        position: relative;
    }

    .exhibit .overlay {
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;

        opacity: 0.0;
        position: absolute;

        transition-property: opacity;
        transition-duration: 1s;
    }

    .exhibit .overlay:hover {
        opacity: 1.0;
    }

    .exhibit .caption {
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 0.25rem;
        margin: 2.0rem;
        padding: 1.5rem 2.0rem;
        position: absolute;

        bottom: 0;
        left: 0;
        right: 0;
    }
}
