html {
    font-family: sans-serif;
}

body {
    max-width: 65ch;
}

figure {
    text-align: center;
}

figure > img {
    box-shadow: grey 1px 1px 8px;
}

figure > figcaption {
    font-style: italic;
}

