---
layout: default
title: Mainpage
---
<h1>Complex Derpitude</h1>
<hr>
<ul id="entries">
    {% for post in paginator.posts %}
    <li>
    <span><a href="{{ post.url }}"><h3>{{ post.title }}</h3></a> <small>{{ post.date | date: "%d %B %Y" }}</small></span>
    <div>{{ post.content |truncatehtml | truncatewords: 30 }}</div>
    </li>
    {% endfor %}
</ul>
<hr>
<div id="pagination">
    <p>
    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/">Newer</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
    {% else %}
    <span>Newer</span>
    {% endif %}

    |

    {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}">Older</a>
    {% else %}
    <span>Older</span>
    {% endif %}
    </p>
</div>
<hr>
